<style>
     ::ng-deep .navigation .link nb-icon {
        display: none !important;
    }
</style>



<img src="../../../assets/images/ad-logo.webp" style="display: block; margin-left: auto; margin-right: auto; width:30%">
<br>
<br>
<p class="sub-title">Experience our new features when you perform money Transfer via Bank ABC.</p>

<div class="col-sm-12">
    <div class="form-group">
        <label for="inputemail" class="label">Email address</label>
        <input nbInput fullWidth fieldSize="large" autofocus type="email" id="inputEmail" placeholder="Enter your email address" [(ngModel)]="userData.useremail">
    </div>
</div>

<div class="col-sm-12">
    <div class="form-group">
        <label for="inputpassword" class="label">Password</label>
        <input nbInput fullWidth fieldSize="large" autofocus type="password" id="inputPassword" placeholder="Enter your password" [(ngModel)]="userData.userpassword">
    </div>
</div>

<div class="col-sm-12">
    <button nbButton fullWidth status="primary" size="large" style="background-color: #2a7de1; border: none;" (click)="login()">
        Log In
    </button>
</div>