<nb-card>
    <nb-card-header>Insert image</nb-card-header>
    <nb-card-body>

        <div class="mb-3">
            <label for="formFile" class="form-label">Upload employee's image</label>
            <input (change)="onFileChanged($event)" class="form-control" type="file">
        </div>

    </nb-card-body>
    <nb-card-footer>
        <button class="cancel" nbButton status="danger" (click)="cancel()">Cancel</button>
        <button nbButton status="success" (click)="onUpload()">Submit</button>
    </nb-card-footer>
</nb-card>