<div class="header-container">
    <div class="logo-container">
        <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
            <nb-icon icon="menu-2-outline"></nb-icon>
        </a>
        <h5 style="margin: auto;">BANK <span style="color: #2a7de1;">ABC</span></h5>
    </div>
</div>

<div class="header-container">
    <!-- <p style="margin: auto;"><b>{{agentname}}</b></p> -->
    <nb-actions size="small">
        <nb-action title="Logout" (click)="logout()" class="control-item" icon="log-out-outline"></nb-action>
    </nb-actions>
</div>