@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }

  .buttonExport {
    background-color: #17a2b8;
    border: none;
    color: white;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    border-radius: 6px;
  } 

  [_nghost-udw-c438] ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
    padding-left: 30px;
    padding-top: 10px
;
}

}
